# The ID of your GitHub App
APP_ID=292306
WEBHOOK_SECRET=WatchTower_Meje

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=https://watchtower-bot.vercel.app/api/github/webhooks
